<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
		<PublishUrl>bin\Release\net10.0\publish\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
	</PropertyGroup>
	<Target Name="FilesToPublish" BeforeTargets="ComputeFilesToPublish">
		<ItemGroup>
			<Files
				Exclude="$(ProjectDir)bin/**;$(ProjectDir)node_modules/**;$(ProjectDir)obj/**;$(ProjectDir)style/sprite-images/**"
				Include="$(ProjectDir)**/.htaccess;$(ProjectDir)**/*.css;$(ProjectDir)**/*.html;$(ProjectDir)**/*.jpg;$(ProjectDir)**/*.js;$(ProjectDir)**/*.svg"
			/>
			<ResolvedFileToPublish Include="@(Files)">
				<CopyToPublishDirectory>Always</CopyToPublishDirectory>
				<RelativePath>%(RecursiveDir)%(Filename)%(Extension)</RelativePath>
			</ResolvedFileToPublish>
		</ItemGroup>
	</Target>
	<Target Name="PublishFilter" AfterTargets="Publish">
		<ItemGroup>
			<PublishDirectoryFile
				Exclude="$(PublishDir)**/.htaccess;$(PublishDir)**/*.css;$(PublishDir)**/*.html;$(PublishDir)**/*.jpg;$(PublishDir)**/*.js;$(PublishDir)**/*.svg"
				Include="$(PublishDir)**/*"
			/>
		</ItemGroup>
		<Delete Files="@(PublishDirectoryFile)" ContinueOnError="true" />
		<RemoveDir Directories="$(PublishDir)bin" />
	</Target>
</Project>