<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<aspNetCore hostingModel="inprocess" processPath="dotnet" stdoutLogEnabled="false" />
		<handlers>
			<add name="ServerSideInclude" modules="ServerSideIncludeModule" path="*.html" resourceType="File" verb="GET,HEAD,POST" />
			<add name="AspNetCore" modules="AspNetCoreModuleV2" path="*" resourceType="Unspecified" verb="*" />
		</handlers>
	</system.webServer>
</configuration>